/* Mastodon FE CSS  + Breeze*/

:root {
/*  --accent:#2b90d9; */
    --accent:#3daee9;
    --accent-hover:#56a7e1;
    --background: #232629;
/*     --dark:#282c37; */
     --dark:#31363b;
    
    --border: #393f4f;
    
    --lightgray:#d9e1e8;
    --darkgray:#9baec8;
    --textcolor:#eff0f1;
}


html {
    scrollbar-color: #3daee9 #31363b; 
    /* スクロールバーの色の変更 */
}

body{
    background: var(--background);
    color: var(--textcolor);
    font-weight: lighter;
}
.loading-bar {
    background-color: var(--accent);
}
.tabs-bar {
    background: var(--dark);
}
.tabs-bar__wrapper {
    background: var(--background);
}
.column > .scrollable {
    background: var(--dark);
}
/*header*/
.search__input {
    background: #282c37;
}
.column-header {
    background: #313543;
}
.column-header__button, .column-header__notif-cleaning-buttons button {
    background: #313543;

}
.column-header.active .column-header__icon {
    color: var(--accent);
    text-shadow: 0 0 10px rgba(216,160,112,.4);
}
.column-header__button.active, .column-header__button.active:hover, .column-header__notif-cleaning-buttons button.active, .column-header__notif-cleaning-buttons button.active:hover {
    color: var(--textcolor);
    background: var(--dark);
}
.column-header__button:focus, .column-header__notif-cleaning-buttons button:focus {
    text-shadow: 0 0 4px #3daee980;
}

.column-header.active {
    box-shadow: 0 1px 0 rgba(43,144,217,.3);
}
.column-header__wrapper.active::before {
    background: radial-gradient(ellipse,rgba(43,144,217,.23) 0,rgba(43,144,217,0) 60%);
    background-image: radial-gradient(rgba(43,144,217,.23) 0,rgba(43,144,217,0) 60%);
}
.column-header__collapsible-inner {
    background: var(--border);
}

/*tab/menu*/
.column-link--transparent.active {
    color: var(--accent);
}

.column-inline-form {
    background: var(--border);
}

.tabs-bar__link {
    border-bottom: 2px solid #313543;
}
.tabs-bar__link.active {
    border-bottom: 2px solid var(--accent);
    color: var(--accent);
}
.tabs-bar__link:active, .tabs-bar__link:focus, .tabs-bar__link:hover {
    background: #464d60;
    border-bottom-color: #464d60;
}
.column-back-button {
    color: var(--accent);
    background: var(--border);
}
.button {
    background-color: var(--accent);
}
.button:active, .button:focus, .button:hover {
    background-color: var(--accent-hover);
}
.link-button {
    color: var(--accent);
}
.block-modal__cancel-button, .confirmation-modal__cancel-button, .confirmation-modal__secondary-button, .mute-modal__cancel-button {
    background-color: transparent;
    color: #3e5a7c;
}

.drawer__inner {
    background: var(--dark);
}
.drawer__inner__mastodon {
    background: var(--dark) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.80078 31.757813" width="234.80078" height="31.757812"><path d="M19.599609 0c-1.05 0-2.10039.375-2.90039 1.125L0 16.925781v14.832031h234.80078V17.025391l-16.5-15.900391c-1.6-1.5-4.20078-1.5-5.80078 0l-13.80078 13.099609c-1.6 1.5-4.19883 1.5-5.79883 0L179.09961 1.125c-1.6-1.5-4.19883-1.5-5.79883 0L159.5 14.224609c-1.6 1.5-4.20078 1.5-5.80078 0L139.90039 1.125c-1.6-1.5-4.20078-1.5-5.80078 0l-13.79883 13.099609c-1.6 1.5-4.20078 1.5-5.80078 0L100.69922 1.125c-1.600001-1.5-4.198829-1.5-5.798829 0l-13.59961 13.099609c-1.6 1.5-4.200781 1.5-5.800781 0L61.699219 1.125c-1.6-1.5-4.198828-1.5-5.798828 0L42.099609 14.224609c-1.6 1.5-4.198828 1.5-5.798828 0L22.5 1.125C21.7.375 20.649609 0 19.599609 0z" fill="%23232629"/></svg>') no-repeat bottom/100% auto;
}

/* search tab background*/
.drawer__inner.darker {
    background: var(--dark);
}
.drawer--results > header {
    color: var(--darkgray);
    background: var(--dark);
}
.search-results__header {
    color: var(--darkgray);
    background: var(--dark);
    border-bottom: 1px solid var(--border);
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 500;
}

/* empty column */
.empty-column-indicator, .error-column, .follow_requests-unlocked_explanation {
    color: var(--textcolor);
    background: var(--dark);
}


.character-counter {
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    color: #3e5a7c;
}
/*poll*/
.button.button-secondary:active, .button.button-secondary:focus, .button.button-secondary:hover {
    border-color: #a8b9cf;
    color: #eff0f1;
}
.compose-form__poll-wrapper select {
    padding: 0.75%;
}
.poll__chart.leading {
    background: var(--accent);
}

.floating-action-button {
    background: var(--accent);
}
.floating-action-button:active, .floating-action-button:focus, .floating-action-button:hover {
	background: var(--accent-hover);
}
.account__section-headline button, .notification__filter-bar button {
    background: #1f232b;
}
.icon-button.active {
    color: var(--accent);
}
.icon-button.disabled {
    color: var(--darkgray);
    opacity: 0.75;
}
/* .icon-button.inverted.active {
    color: var(--accent);
} */
/*fav/bookmark color*/
.notification__favourite-icon-wrapper .fa.star-icon, .star-icon.active {
    color: #ca8f04;
}
.bookmark-icon.active {
    color: #ff5050;
}

/* .composer--options-wrapper {
    color: var(--darkgray);
    background: var(--border);
 } */
.compose-panel .compose-form__autosuggest-wrapper {
    background-color: var(--dark);
}
.composer--options--dropdown.open > .value {
    color: var(--dark);
    background: var(--accent-hover);
}
.composer--options--dropdown--content--item.active:hover {
    background: var(--accent-hover);
}
.composer--options--dropdown--content--item.active, .composer--options--dropdown--content--item:hover {
    background:var(--accent);
    color: #fff;
}
.composer--options--dropdown--content--item.active, .composer--options--dropdown--content--item:hover {
    background: var(--accent-hover);
    color: #fff;
}
.react-toggle--checked .react-toggle-track {
    background-color: var(--accent);
}
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: var(--accent-hover);
}
.react-toggle-track {
    background-color: var(--background);
}
.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: var(--dark);
}

.dropdown-menu__item a:active, .dropdown-menu__item a:focus, .dropdown-menu__item a:hover {
    background: var(--accent-hover);
    color: #eff0f1;
    outline: 0;
}
.text-icon-button.active {
    color: var(--accent);
}

.icon-with-badge__badge {
    background: var(--accent);
    border: 2px solid var(--border);
}

/*emoji*/
.emoji-mart-anchor-bar {
	background-color: var(--accent);
}
.emoji-mart-anchor-selected {
    color: var(--accent);
}
.emoji-mart-anchor-selected:hover {
    color: var(--accent-hover);
}

/*status*/
    /*status_privacy*/
.hicolor-privacy-icons .composer--options--dropdown--content--item .fa-globe, .hicolor-privacy-icons .status__visibility-icon.fa-globe {
    color: var(--accent-hover);
}
.hicolor-privacy-icons .composer--options--dropdown--content--item .fa-unlock, .hicolor-privacy-icons .status__visibility-icon.fa-unlock {
    color: #eff0f1;
}
.hicolor-privacy-icons .composer--options--dropdown--content--item .fa-lock, .hicolor-privacy-icons .status__visibility-icon.fa-lock {
    color: #fdbc4b;
}
.hicolor-privacy-icons .composer--options--dropdown--content--item .fa-envelope, .hicolor-privacy-icons .status__visibility-icon.fa-envelope {
    color: #ffc3fc;
}

.status {
    border-bottom: 1px solid var(--border);
}
.status__content a.unhandled-link {
    color: var(--accent-hover);
}
.status__content a {
    color: var(--accent);
}
.status__display-name, .status__relative-time {
    color: #606984;
}

.status.status-direct:not(.read) {
    background: var(--dark);
    border-bottom-color: var(--border);
}

/*status detail*/
.icon-button {
    color: #606984;
}
.status__info__icons {
    color: #606984;
}

.icon-button.active {
     color: #606984;
}
.icon-button:hover {
    color:var(--accent-hover);
}
.notification__favourite-icon-wrapper .fa.star-icon, .star-icon.active {
    color: #ca8f04;
}
.notification__favourite-icon-wrapper .fa.star-icon:hover{
    color: #ca8f04;
}
.bookmark-icon.active {
    color: var(--accent);
}

.compose-form__sensitive-button .checkbox.active {
    border-color: var(--accent);
    background: var(--accent);
}

.media-modal__button--active {
    background-color: var(--accent);
}

.media-gallery__item.letterbox {
    background: var(--background);
}

/*upload*/
.composer--upload_form--progress > .message > .backdrop > .tracker{
    background: var(--accent);
}

.video-player__seek__buffer, .video-player__seek__progress {
    background: var(--accent-hover);
}
.video-player__seek__handle {
    background: var(--accent-hover);
}
.video-player__volume__current {
    background: var(--accent-hover);
}
.video-player__volume__handle {
    background: var(--accent-hover);
}

/*draw*/
.icon-button.inverted.active {
    color: var(--accent);
}

.column-header__back-button {
    background: #313543;
    color: var(--accent);
}
.detailed-status__action-bar {
    background: #313543;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}
.detailed-status {
    background: #313543;
    padding: 14px 10px;
}

/*image*/
.full-width .media-gallery__item {
	border-radius: 4px;
}
/* profile */
.button.logo-button.button--destructive:active, .button.logo-button.button--destructive, .button.logo-button.button--destructive {
    background: var(--accent);
}
.button.logo-button {
    background: var(--accent);
}
.account__header__bar {
    background: #313543;
    border-bottom: 1px solid var(--border);
}

.column-header__back-button {
    color: var(--accent);
}
.account__header__fields {
    border-top: 0;
    border-color: var(--border);
        /* border-top-color: rgb(38, 55, 77); */
}
.account__header__bio .account__header__fields a {
    color: var(--accent-hover);
}

.account__action-bar__tab.active {
    border-bottom: 4px solid var(--accent);
}
.button.logo-button:active, .button.logo-button:focus, .button.logo-button:hover {
    background: var(--accent-hover);
}
.account__action-bar {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    line-height: 36px;
    overflow: hidden;
    flex: 0 0 auto;
    display: flex;
}
.account__section-headline, .notification__filter-bar {
    background: var(--background);
    border-bottom: 1px solid var(--border);
    cursor: default;
    display: flex;
    flex-shrink: 0;
}
.account__section-headline a.active::after, .account__section-headline button.active::after, .notification__filter-bar a.active::after, .notification__filter-bar button.active::after {
    /* bottom: -0px; */
    border-color: transparent transparent var(--dark);
}

/*DM*/
.conversation__unread {
    background: var(--accent);
}
.conversation--unread {
    background: #151f2b;
}
.conversation {
    border-bottom: 1px solid #202e3f;
}

/*settings*/
.glitch.local-settings__navigation__item.active {
    background: var(--accent);
    color: #fff;
}

.column-link {
    /* background: var(--dark); */
    color: var(--textcolor);
}
.column-link:hover {
    background: #404657;
}

.column-subheading {
    background: var(--dark);
    color: var(--darkgray);
}
.getting-started {
    background: var(--dark);
}

.getting-started__footer p, .getting-started__panel p {
    color: var(--darkgray);
}
.getting-started__footer p a, .getting-started__panel p a {
    color: var(--accent);
}
